#div1 {
    background-color:red; 
    height: 150px;
}

#div2 {
    background-color:rgb(16,99,30);
    height: 150px;
}

#div3 {
    background-color:#523456; 
    height: 150px;
}

#div4 {
    background-color:#a11;
    height: 150px;
}